// google font - Korean: "Hahmlet", serif, Eng: "Montserrat", sans-serif
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

// variables & elements
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  font-family: "Hahmlet", serif;
  transition: all 0.2s linear;
  &.openModal {
    overflow: hidden;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  &.change {
    background-color: white;
    height: 70px;
    a,
    .bar {
      color: black;
    }
  }
  nav {
    position: relative;
    width: 100%;
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      a {
        transition: color 0.1s linear;
        text-decoration: none;
        font-family: $english;
        color: $light--grey;
      }
      &.logo {
        li {
          font-size: 25px;
          font-weight: 600;
        }
      }
      &.navbar {
        a {
          li {
            margin: 0px 30px;
            font-weight: 500;
            font-size: 18px;
            &:hover {
              font-weight: 600;
            }
          }
        }
      }
    }
    .bar {
      // position: absolute;
      // top: -3px;
      // right: 0;
      background: none;
      border: none;
      font-size: 28px;
      color: white;
      cursor: pointer;
      transition: color 0.1s linear;
      display: none;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  transition: all 0.2s ease-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  button {
    position: absolute;
    top: 38px;
    right: 30px;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 3;
    &.moveUp {
      top: 23px;
    }
  }
  .modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .modal__navbar {
    position: relative;
    top: 0px;
    width: 100%;
    a {
      li {
        padding: 20px 0px;
        width: 100vw;
        text-align: center;
        font-family: $english;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.1s linear;
        &:hover {
          background-color: $youthColor;
        }
      }
      all: unset;
    }
  }
}

main {
  .hero {
    width: 100%;
    height: 100vh;
    .hero__photo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url("https://tumblbug-pci.imgix.net/7ad81f8e5d8c79ed9534d70ee460540cab01def4/50ad87ce50f33be13d5409e150e3da3221553f48/d56328e3af29a81247e87c8ecfcbea3196b4c5df/0375e116-dacf-42b8-92d8-163297507a9d.jpeg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=80ebf1914ddec5665012f5db7b9b74f1");
      .hero__text {
        text-align: center;
        letter-spacing: 0.8px;
        width: 650px;
        color: $light--grey;
        h1 {
          font-family: $english;
          font-size: 45px;
          font-weight: 600;
          margin-bottom: 40px;
          span {
            font-weight: 400;
          }
        }
        h3 {
          font-size: 20px;
          letter-spacing: 1.2;
          line-height: 1.5;
          margin-bottom: 70px;
        }
        a {
          border: 1px solid white;
          padding: 15px 60px;
          text-decoration-line: none;
          color: $light--grey;
          font-size: 18px;
          transition: all 0.1s linear;
          &:hover {
            background-color: $light--grey;
            color: black;
          }
        }
      }
    }
  }
}

// footer {
// }

@media screen and (max-width: $tabletSize) {
  header {
    nav {
      margin: 0 30px;
      .navbar {
        display: none;
      }
      .bar {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mobileSize) {
  header {
    height: 50px;
    &.change {
      height: 50px;
    }
    nav {
      margin: 0 15px;
      .logo {
        a {
          li {
            font-size: 18px;
          }
        }
      }
      .bar {
        top: -7px;
        font-size: 27px;
      }
    }
  }

  .modal {
    button,
    button.moveUp {
      top: 12px;
      right: 1rem;
      font-size: 27px;
    }
  }

  main {
    .hero {
      .hero__photo {
        .hero__text {
          width: 315px;
          h1 {
            font-size: 38px;
          }
          h3 {
            font-size: 18px;
          }
          a {
            font-size: 15px;
            padding: 10px 40px;
          }
        }
      }
    }
  }
}
